/ProyectoCatering/ProyectoCatering/nbproject/private/
/ProyectoCatering/nbproject/private/
/ProyectoCatering/build/
/ProyectoCatering/dist/
/WebPractica10/nbproject/private/
/WebPractica10/build/
/WebPractica11/nbproject/private/
/WebPractica11/build/